Repository msnodeve/rlottie.github.io, pull requests merged in 2020-09, with the labels that each got.

#5 feat: add API and ChangingSlow
  module-rlottie.js
Labels: Feature, JS, Wasm

#6 feat: footer jobs
  components/loading-bar.vue
  index.html
  module-rlottie.js
Labels: Feature, JS, rlottie

#8 feat: Apply shape color
  components/detailMenus/ShapeProperty.vue
  components/left-bar-detail.vue
  components/loading-bar.vue
  index.html
  rlottie-wasm.js
Labels: Feature, JS, rlottie

#3 Make treeview object by keypath
  module-rlottie.js
Labels: Feature, JS

#7 Feat: History Management
  components/loading-bar.vue
  module-rlottie.js
Labels: Feature, JS

#9 Add Tansform property in sidebar
  assets/ChangeTR.png
  components/detailMenus/TransformProperty.vue
  components/left-bar-detail.vue
  components/left-bar.vue
Labels: Feature, JS, rlottie

#15 fix: reverse play error
  module-rlottie.js
Labels: JS, Wasm, bug, hotfix, rlottie

#17 Fix scroll of sidebar
  components/detailMenus/TransformProperty.vue
  components/left-bar-detail.vue
  components/left-bar.vue
  components/right-bar.vue
  index.html
Labels: Vue.js, bug, hotfix

#18 Feat: logging history
  components/detailMenus/ShapeProperty.vue
  components/detailMenus/StrokeProperty.vue
  components/detailMenus/TransformProperty.vue
  components/left-bar-detail.vue
  index.html
  module-rlottie.js
Labels: JS, Vue.js

#19 Update UX/UI
  components/detailMenus/ChangeBgColor.vue
  components/detailMenus/ChangeBgImg.vue
  components/left-bar-detail.vue
  components/loading-bar.vue
  index.html
Labels: JS, Vue.js, rlottie

#22 Chore jobs
  components/detailMenus/ChangeBgColor.vue
Labels: Feature, JS, Vue.js, bug, hotfix, rlottie

#20 Feat: Show layers selected Effect
  components/detailMenus/ShapeProperty.vue
  components/detailMenus/StrokeProperty.vue
  components/detailMenus/TransformProperty.vue
  components/right-bar.vue
  module-rlottie.js
Labels: Feature, JS, Vue.js

#21 Fix leftbar and canvas
  components/detailMenus/ChangeBgColor.vue
  components/detailMenus/ChangeBgImg.vue
  components/detailMenus/ResizeCanvas.vue
  components/detailMenus/TransformProperty.vue
  components/left-bar-detail.vue
  components/left-bar.vue
  index.html
Labels: Vue.js, bug, hotfix, refactor

#23 Improve UI of preview Rlottie based on Vue.js
  assets/ChangeBG.png
  assets/ChangeTR.png
  components/detailMenus/ChangeBgColor.vue
  components/detailMenus/ShapeProperty.vue
  components/detailMenus/StrokeProperty.vue
  components/detailMenus/TransformProperty.vue
  components/left-bar-detail.vue
  components/left-bar.vue
  components/loading-bar.vue
  components/right-bar.vue
  dragresize.js
  dragresize_commented.js
  index.html
  module-rlottie.js
  origin.html
  rlottie-wasm.js
  rlottie-wasm.wasm
  style.css
  test.sh
Labels: enhancement

#25 feat: Add feature named 'shortcut key'
  components/loading-bar.vue
  index.html
Labels: Feature, JS, enhancement, rlottie

#26 feat: Add shortcut key feature
  components/loading-bar.vue
  index.html
Labels: Feature, JS, Vue.js, enhancement, rlottie

#27 Improve shortcut key features
  components/left-bar.vue
  components/loading-bar.vue
  components/right-bar.vue
Labels: Feature, JS, Vue.js, enhancement, rlottie

#28 Feat: Export changes for Fill and Stroke
  components/loading-bar.vue
  module-rlottie.js
Labels: Feature, JS, Vue.js

#29 Feat: search keypath
  components/loading-bar.vue
  components/right-bar.vue
  index.html
  module-rlottie.js
Labels: Vue.js

#31 fix: shortcut key error
  components/left-bar.vue
  components/loading-bar.vue
  components/right-bar.vue
  index.html
Labels: Feature, JS, Vue.js, bug, hotfix, rlottie
