Repository msnodeve/rlottie.github.io, pull requests merged in 2020-10, with the labels that each got.

#32 feat: Add mock-up tool
  assets/mock_up_1.png
  assets/mock_up_2.png
  assets/upperbar_1.png
  assets/upperbar_2.png
  assets/upperbar_3.png
  assets/upperbar_4.png
  assets/upperbar_5.png
  assets/upperbar_6.png
  components/upper-bar.vue
  index.html
Labels: Feature, Vue.js, rlottie

#33 Fix: highlighting error fix
  components/loading-bar.vue
  components/right-bar.vue
  index.html
  module-rlottie.js
Labels: JS

#34 Feat: add shanpshot
  components/detailMenus/ChangeBgColor.vue
  components/detailMenus/ShapeProperty.vue
  components/detailMenus/StrokeProperty.vue
  components/loading-bar.vue
  components/snapshot.vue
  index.html
  module-rlottie.js
Labels: Feature, JS, Vue.js

#36 add Canvas tap
  components/detailMenus/ChangeBgColor.vue
  components/detailMenus/ChangeBgImg.vue
  components/detailMenus/ChangeCanvas.vue
  components/detailMenus/StrokeProperty.vue
  components/left-bar-detail.vue
  components/left-bar.vue
  components/loading-bar.vue
Labels: Feature, JS, Vue.js

#39 Feat: convert to GIF
  .vscode/settings.json
  components/detailMenus/ChangeBgColor.vue
  components/detailMenus/ExportGif.vue
  components/left-bar-detail.vue
  components/left-bar.vue
  gif.js
  gif.js.map
  gif.worker.js
  gif.worker.js.map
  index.html
Labels: JS, Vue.js

#41 modify: tooltip of left-bar
  components/left-bar.vue
Labels: enhancement, refactor

#42 chore: modify left bar
  assets/mock_up_2.png
  components/detailMenus/ChangeBgColor.vue
  components/detailMenus/ChangeCanvas.vue
Labels: Vue.js, enhancement

#43 fix: Save Property Settings
  .gitignore
  components/detailMenus/StrokeProperty.vue
  components/detailMenus/TransformProperty.vue
  components/detailMenus/~ShapeProperty.vue
  components/loading-bar.vue
  components/right-bar.vue
  index.html
  module-rlottie.js
Labels: JS, Vue.js, refactor

#44 Fix: hotfix
  components/loading-bar.vue
  components/right-bar.vue
  module-rlottie.js
Labels: JS, hotfix

#45 fix: save and hot key error
  components/loading-bar.vue
  components/right-bar.vue
  module-rlottie.js
Labels: JS, hotfix

#46 fix: image uploading bug
  components/detailMenus/ChangeBgColor.vue
  components/upper-bar.vue
Labels: Vue.js, bug

#47 fix: loading bar design
  components/detailMenus/ExportGif.vue
  components/loading-bar.vue
  module-rlottie.js
Labels: Vue.js

#48 Fix style of leftbar
  components/detailMenus/ChangeBgColor.vue
  components/detailMenus/ChangeCanvas.vue
  components/detailMenus/ExportGif.vue
  components/detailMenus/StrokeProperty.vue
  components/detailMenus/TransformProperty.vue
Labels: Vue.js

#51 refactor: split module-rlottie.js
  components/detailMenus/ChangeBgColor.vue
  components/detailMenus/ChangeCanvas.vue
  components/detailMenus/ExportGif.vue
  components/detailMenus/ShapeProperty.vue
  index.html
  layer-tree.js
  module-rlottie.js
  store/index.js
Labels: JS

#53 refact: refact vue.js code and css
  components/detailMenus/ChangeCanvas.vue
  components/detailMenus/ExportGif.vue
  components/detailMenus/ShapeProperty.vue
  components/loading-bar.vue
  components/snapshot.vue
  components/upper-bar.vue
  layer-tree.js
  module-rlottie.js
  store/index.js
  style.css
Labels: Vue.js, refactor

#54 fix: Include transform property in json
  components/detailMenus/ShapeProperty.vue
  components/detailMenus/TransformProperty.vue
  components/left-bar.vue
  components/right-bar.vue
  layer-tree.js
  rlottie-wasm.wasm
  store/index.js
Labels: JS

#56 refact: refact script and logic in .vue file
  components/detailMenus/ChangeBgColor.vue
  components/detailMenus/ChangeCanvas.vue
  components/detailMenus/ShapeProperty.vue
  components/info-bar.vue
  components/loading-bar.vue
  components/upper-bar.vue
  index.html
  layer-tree.js
  store/index.js
  style.css
Labels: Vue.js, refactor

#57 refact: refact code and logic in .vue files
  components/detailMenus/ChangeBgColor.vue
  components/detailMenus/ChangeCanvas.vue
  components/info-bar.vue
  components/left-bar-detail.vue
  components/left-bar.vue
  components/loading-bar.vue
  components/thumbnail-preview.vue
  index.html
  store/index.js
  style.css
Labels: Vue.js, refactor

#59 fix:scale null error
  components/detailMenus/TransformProperty.vue
Labels: JS

#60 refact: write script comments
  layer-tree.js
  module-rlottie.js
Labels: JS, refactor

#61 feat: add upper-bar dialog
  components/upper-bar.vue
  style.css
Labels: Vue.js, enhancement

#64 fix: fix height of layers
  index.html
  style.css
Labels: hotfix

#65 hotfix: fix error that appear blank spaces in the loading-bar
  index.html
  style.css
Labels: hotfix

#66 refact: align indentation and follow the code rules
  components/detailMenus/ChangeBgColor.vue
  components/detailMenus/ChangeCanvas.vue
  components/detailMenus/ExportGif.vue
  components/detailMenus/ShapeProperty.vue
  components/detailMenus/TransformProperty.vue
  components/layouts/InfoBar.vue
  components/layouts/LeftBar.vue
  components/layouts/LoadingBar.vue
  components/layouts/RightBar.vue
  components/layouts/UpperBar.vue
  components/utils/ThumbnailPreview.vue
  js/layer-tree.js
  js/module-rlottie.js
  js/rlottie-wasm.js
  js/rlottie-wasm.wasm
  style.css
Labels: refactor
